# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
coverage

# Local environment files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

# Legacy Visual Studio/.NET and SVN artifacts
**/.svn/
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
**/[Pp]ublish/
.vs/
*.user
*.pfx
*.p12
*.snk
*.pdb
*.exe
*.dll
*.msi
*.application
*.vshost.*
*.exe.config
*.exe.manifest
Thumbs.db
~$*
