<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\KinhDich.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="KinhDich.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\KinhDich.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="KinhDich.Properties.Settings.AConnectionString" connectionString="Data Source=|DataDirectory|\A.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>